.horizont-menu-wrap{
    height: inherit;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    width: 100%;

    max-width: 1200px;
    margin: 0px auto;
}

nav, nav li, nav li a {
    list-style: none;
    text-decoration: none;
}

/* При открытом бургер меню не дает скролить страницу под ним */
body._lock{
    overflow: hidden;
}

.menu__icon{
    display: none;
}

/* .menu__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    min-width: 100%;
} */

.menu__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/*li первого уровня меню*/
.menu__list > li{
    position: relative;
    /* margin: 0px 0px 0px 20px; Вадим убрал*/
}

/* a href первого уровня меню */
.menu__link{
    color: #fff;
    font-size: 18px;
    white-space: nowrap; 
}

.menu__link:hover{
    text-decoration: underline;
}

.menu__sublist{
    position: absolute;
    /* top: 100%; */
    /* right: 0; */
    background-color: #f8f4ee;
    color: #484848;    
    /* padding: 5px 15px; */
    /* min-width: 200px; */
    z-index: 5; /*я проставила*/

    width: 200px;
    top: 100%;
    left: 0;
    padding-inline-start: 0px;
}

.menu__profile .menu__sublist{
    background-color: #fff;
}

.menu__sublist  .menu__sublist {
    top: 30%;
    left: 200px;  
    padding-inline-start: 0px;
}

.menu__sublist li{
    /* margin: 10px 20px 15px 20px; */
    border-bottom: 1px solid #e1e2e1;
    position: relative;
    /* padding: 10px 20px; закомментировано для burger menu на мобильном экране
    margin-left: 5px; */
}

.menu__sublist li:last-child{
    /* margin: 0px; */
    /* margin: 10px 20px 10px 20px; */
    border-bottom: none;
    
}

.menu__sublink{
    color: #484848;
}

.menu__sublink:hover{
    text-decoration: underline;
}

p.menu__sublink {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.menu__arrow {
    /* display: none; */
    transition: all 0.2s ease-in-out;
}

/*----------------------*/

/* Вадим: для Мой профиль кнопки в среднем header-e*/
.profile > .menu__sublist {
    margin-top: 0;
    list-style: none;
    font-family: 'Trebuchet MS', sans-serif
}

.menu__profile {
    position: relative;
}
.menu__list  li:hover > .menu__sublist, .menu__profile:hover > .menu__sublist {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

.menu__list  li {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}


body._pc .menu__arrow, body._touch .menu__arrow {
   /*  display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    transition: transform 0.3s ease 0s; */
    /*border-left: 5px solid transparent; */ /*треугольник стрелки*/
    /*border-right: 5px solid transparent;
    border-top: 10px solid #fff; */

   /*  width: 14px;
    height: 15px;
    background-image: url(../images/arrow-down-grey.svg); */ /*button-minus.svg*/
   /*  background-size: cover;  
    background-repeat: no-repeat; */
}

/* click по стрелке*/
li._active > /*Вадим добавил уголок*/.menu__sublist {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

/* li._active > .menu__arrow, li:hover > .menu__arrow {
    transform: rotate(-180deg);
}
 */
/*----------------------*/



/*Лекция фрилансера*/
/* На широком экране компьютера */
@media(min-width: 767px){
/* .horizont-menu-wrap nav, .horizont-menu-wrap nav ul, .horizont-menu-wrap nav a{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    height: inherit;
    align-items: center;
    justify-content: center;    
}

.horizont-menu-wrap nav li a{   
    padding: 0 18px;
    color: #fff;
    font-weight: bold;
} */

/* nav */
.main_nav {
    width: 75%;
    margin-right: 40px;
    margin-left: 0px;
}


/*nav ul*/
.menu__list{
    display: flex;
    align-items: center;
    min-height: 500px; /*Вадим*/

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* width: 100%; */
    gap: 30px;
    /* min-width: 900px;  */
    padding-inline-start: 0px;
}

/*li первого уровня меню*/
.menu__list > li {
    /* padding: 10px 0; */
}

.menu__sublist {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;

    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

/*я перенесла из общих стилей, которые в начале файла*/
.menu__sublist li {
    padding: 10px 20px;
    /* margin-left: 5px; */
}

/* .menu__sublist .menu__sublist {
    margin-left: 5px;
} */

li.profile-hidden {
    display: none; !important
}

.menu__list li .menu__arrow {
    width: 12px;
    height: 13px;
    background-image: url(../images/arrow-down.svg); /*button-minus.svg*/
    background-size: cover;  
    background-repeat: no-repeat;
    margin-left: 10px;
}

.menu__list li._active > .menu__arrow, .menu__list li:hover > .menu__arrow {
    transform: rotate(-180deg);
}

.menu__sublist li .menu__arrow {
    width: 12px;
    height: 13px;
    background-image: url(../images/arrow-down-grey.svg); /*button-minus.svg*/
    background-size: cover;  
    background-repeat: no-repeat;
}

.menu__sublist li._active .menu__wrapper > .menu__arrow, .menu__sublist li:hover .menu__wrapper > .menu__arrow {
    transition: all 0.2s ease-out;
    transform: rotate(-90deg);
}

.menu__sublist li .menu__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

}

/* На мобильных устройствах */
@media(max-width: 767px){
    header {
        position: sticky;
        top: 0;
        z-index: 700;
    }
    
    .header-center {
        height: 80px;
        background-color: #fff;        
    }

    .profile-basket {
        padding-top: 0;
        height: 100%;
    }

    /*убрать кнопку Мой профиль в среднем header-e*/
    .profile {
        display: none;
    }

    .profile p, .basket p{
        display: none;
    }

    li.profile-hidden {
        display: block;
    }


    .menu__icon {
        z-index: 9; /* 100; */
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon::before, .menu__icon::after, .menu__icon span {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #e20049;
    }

    .menu__icon::before, .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    /* Анимация 3 полосок на крестик */
    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    /* nav */
    .menu__body {
        position: fixed;
        top: 127px; /* на высоту sticky header-center и search розовой панели*/
        left: -100%;
        width: 100%;
        height: 80%;
        /* transform: translate(-100%, 0px); */
        background-color: rgba(248, 244, 238, 1); /* rgba(0, 0, 0, 0.9); */
        /* padding: 0px 30px 30px 30px; */
        transition: left 0.3s ease 0s;
        overflow: scroll;
        z-index: 50; /* я добавила*/
    }

    .menu__body._active {
        left: 0;
    }

    /* Плашка фиксированная над меню */
   /*  .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: #fff;
        z-index: 2;
    } */

   /* Вадим убрал li:hover > .menu__arrow  {
        transform: none;
    } */

    .main_nav li {
        min-height: 24px;
        line-height: 24px;
    }

    /*Я добавила чтобы убрать отступ слева у ul*/
    .menu__list {
        padding-inline-start: 0px;
        margin-top: 0;
    }

    .menu__list > li {
        flex-wrap: wrap;
        /* margin: 20px 0px 20px 0px; Вадим убрал*/
        border-bottom: 1px solid #e1e2e1;
        /* display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 40px; */
    }

    .menu__list > li:last-child {
        margin: 0;
        border-bottom: none;
    }

    /*Я добавила*/
    .menu__list > li._active {
        border-bottom: 1px solid  #e1e2e1;
    }

    /*Я добавила для отступов параграфа p*/
    .menu__list > li > p{
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .menu__list  li._active > .menu__sublist {
        display: block;
        width: 100%; /*Вадим добавил*/
    }

    .menu__link {
        font-size: 18px;
        color: #484848;
        margin: 0; /*Вадим добавил*/
        margin-left: 25px;
        padding: 10px 0; /*Вадим добавил*/
    }

    .menu__sublist {
        position: relative;
        background-color: rgba(248, 244, 238, 1); /* #c3c3c3; */
        flex: 1 1 100%;
        /* margin: 20px 0px 0px 0px; Вадим убрал*/
        display: none;
        border-top: 1px solid #e1e2e1;
    }

    .menu__list .profile-hidden {
        background-color: #fff;
    }

    .menu__list .profile-hidden .menu__sublist {
        background-color: #fff;
    }

    /*я добавила*/
   /*  .menu__wrapper._active {
        border-bottom: 1px solid #e1e2e1;
    } */

    .menu__sublist  li {
        /*padding: 10px 0px; Вадим убрал*/
        /* margin-left: 5px; */
    }

    /*я добавила*/
    .menu__sublist  li._active /* > .menu__sublist */ {
        display: block;
    }

    /*я добавила*/ /*Вадим убрал*/
    /*.menu__sublist  li._active:first-child {
        border-top: 1px solid #e1e2e1;
    } */

    .menu__sublist  .menu__sublist {
        top: 100%;
        left: 0%;       
    }

    .menu__sublink {
        font-size: 16px;
        padding: 10px 0;
        color: #484848;        
    }

    .menu__sublist .menu__sublink {
        margin-left: 50px;
    }

    .menu__sublist .menu__sublist .menu__sublink {
        margin-left: 75px;
    }

    .menu__arrow {
        cursor: pointer;

        width: 12px;
        height: 13px;
        background-image: url(../images/arrow-down-grey.svg); /*button-minus.svg*/
        background-size: cover;  
        background-repeat: no-repeat;
        /* margin-left: 10px; Вадим убрал*/
        margin-right: 10px; /*Вадим добавил*/
    }

   
    
    li._active > .menu__arrow, li._active > .menu__wrapper > .menu__arrow/* , .menu__list li:hover > .menu__arrow */ {
        transform: rotate(-180deg);
    }    
    
    /* .menu__sublist li .menu__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } */
    

    /* .horizont-menu-wrap nav ul{
    all:unset;
    position: absolute;
    left: 0;
    top: -83px;
    z-index: 50;
    background-color: aquamarine;
    height: 100vh;

}

.main_nav {
	display: block;
	position: absolute;
    top: 55px;
    left: 0;
    background: rgb(245, 246, 246);
    box-shadow: #ccc;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    transition: all 0.4s ease;
	left:-100%;
}
.horizont-menu {
	display: block;
}
.main_nav.open-menu{
    left:0;
    width: 2%;
    height: 2%;
    z-index: 150;
}
.horizont-menu-wrap nav li a {
	color: #515758;
}
.horizont-menu li {
	margin: 40px 0px 40px 33px;
    font-size: 14px;
	}
.menu-burger__header {
	position: relative;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: 10px;
   } */

   /* Кнопка бургер меню*/
/* .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
	height: 3px;
	width: 100%;
	position: absolute;
	background: #e20049; */ /*#515758; */
	/* margin: 0 auto;
}
.menu-burger__header span{
	top: 16px;
}
.menu-burger__header:after, .menu-burger__header:before{
	content: '';
}
.menu-burger__header:after{
	bottom: 5px;
}
.menu-burger__header:before{
	top: 5px;
}
.menu-burger__header.open-menu span {
	opacity:0; 
    transition: 0.5s; 
}
.menu-burger__header.open-menu:before {
	transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}
.menu-burger__header.open-menu:after {
	transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}

.fixed-page {
    overflow: hidden;
} */


}
